.btn {
  height: 5rem;
  background-color: var(--color-primary);
  color: var(--color-black);
  border: none;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  padding: 1rem 3.2rem;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none !important;
  &:hover {
    background: var(--color-highlight);
    color: var(--color-white);
  }
  &__icon {
    font-size: 3rem;
    margin-left: 1rem;
    color: var(--color-tertiary);
    transition: all 0.3s;
  }
}
#button:hover #button__icon {
  color: var(--color-white);
  transform: scale(1.2);
}
