.footer {
  margin-top: 8rem;
  padding: 4rem 0rem;
  display: grid;
  background: var(--color-black);
  align-items: center;
  justify-content: space-around;
  grid-template-columns: max-content max-content;
  &__navigation {
    font-family: Monument Extended Regular;
    display: grid;
    grid-column-gap: 2.6rem;
    grid-template-columns: repeat(6, max-content);
  }
  &__copyright {
    font-size: 1.4rem;
    color: var(--color-white);
  }
  &__link {
    font-size: 1.2rem;
    &:link,
    &:visited {
      color: var(--color-white);
      transition: all 0.3s;
    }
    &:hover,
    &:active {
      color: var(--color-highlight);
      transform: rotate(5deg) scale(1.3);
    }
  }
}
