<footer class="footer">
  <div class="footer__navigation">
    <a class="footer__link" href="#scroll__home"> Home </a>
    <a class="footer__link" href="#scroll__about"> About </a>
    <a class="footer__link" href="#scroll__referrals"> Referrals </a>
    <a class="footer__link" href="#scroll__technologies"> Technologies </a>
    <a class="footer__link" href="#scroll__portfolio"> Portfolio </a>
    <a class="footer__link" href="#scroll__contact"> Contact </a>
  </div>
  <div class="footer__copyright">
    <p class="footer__copyright">
      Designed and built by Rick van der Eijk, copyright &copy; 2020-2022.
    </p>
  </div>
</footer>
