<div class="container">
  <!--Header-->
  <header class="header" id="scroll__home">
    <nav class="navbar">
      <a href="#scroll__home">
        <img
          class="header__logo"
          src="../assets/images/webdevelopmentlogo4.png"
          alt="IBM Logo"
        />
      </a>
      <div class="navbar__menu">
        <a class="navbar__a" href="#scroll__about"> About </a>
        <a class="navbar__a" href="#scroll__referrals"> Referrals </a>
        <a class="navbar__a" href="#scroll__technologies"> Technologies </a>
        <a class="navbar__a" href="#scroll__portfolio"> Portfolio </a>
        <a class="navbar__a" href="#scroll__contact"> Contact </a>
      </div>
      <a
        href="https://www.linkedin.com/in/rick-van-der-eijk-9829b774/"
        target="_blank"
      >
        <div class="navbar__icon-container">
          <span class="navbar__icon">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </span>
        </div>
      </a>
    </nav>
    <div class="header__textbox">
      <h1 class="header__h1">Rick van der Eijk</h1>
      <div class="h2__line"></div>
      <h3 class="header__h3">
        <span class="header__h3--first">Freelance </span
        ><span class="header__h3--second">Fullstack </span> <br /><span
          class="header__h3--third"
          >Web </span
        ><span class="header__h3--fourth">Developer</span>
      </h3>
    </div>
    <a href="#scroll__about">
      <div class="header__icon-container" id="header__icon-container">
        <span class="header__mat-icon--down" id="header__mat-icon--down">
          <i class="fa fa-arrow-down" aria-hidden="true"></i>
        </span>
      </div>
    </a>
  </header>

  <!--About-->
  <section id="scroll__about" class="about">
    <h2 class="h2 color-white">About Rick</h2>
    <div class="h2 h2__line"></div>
    <div class="about__content">
      <img
        src="../assets/images/photoMe.jpg"
        alt="Rick van der Eijk"
        class="about__image"
      />
      <p
        class="about__p"
        [ngClass]="displayFullText ? 'about__expanded' : 'about__contracted'"
      >
        Rick van der Eijk is a self-taught, freelance, full-stack developer with
        a passion for how development and design interact. He has worked for
        enterprises such as Unilever, the Dutch government, and IBM, but also
        for startups and other small businesses. He thrives in environments
        where enthusiasm and dedication are rewarded, and where good work ethic
        can make a difference.<br /><br />
        In 2015-2016, for ZZF, a small but well-known Dutch charity (ZZF), Rick
        redesigned a CRM system from the ground up, enabling the organization to
        store its many contacts in a more organized fashion.<br /><br />
        Rick started his journey to become a full stack developer in January
        2020. However, barely after, Covid struck. Rather than giving up, he
        doubled down, regularly putting in over 80 hours per week, so he could
        both pay his bills and make progress on his studies. His website
        (https://portfolio-rick-van-der-eijk.web.app/) was built during that
        time, as well as several portfolio projects that can be found on
        there.<br /><br />
        In March 2021, Rick was hired by IBM as a frontend developer. During the
        rest of the year (April to December 2021), he put in over 300 study
        hours, earning him the status of Champion Learner Gold, which only 5
        percent of IBM-ers attain. Within his 18 months at IBM, Rick also
        promoted twice, earning him special commendation for his technical
        skills. <br /><br />
        Because of Rick’s background in sales, his communication skills are
        excellent. For example, at the Unilever project, Rick knew that the
        chosen tech stack wasn’t going to work well, even though it had more or
        less been decided before he arrived. Due to this risk, Rick persuaded
        fellow team members, some of them many levels above his own, to alter
        course. This led to a result that could otherwise never have been
        attained. Afterwards, several potential customers praised the frontend
        that Rick had built.<br /><br />
        Rick is always looking for new challenges to overcome, which is why he
        decided to learn Unity in August 2021. Fascinatingly, his game idea
        involved complex 3D vector math and physics, even though he has never
        had formal technical education of any kind. His project, Mars Commander,
        is fully playable and currently in alpha state:
        https://vdeijk.itch.io/mars-commander<br /><br />
        Currently, Rick works as a freelancer for Reflectlab in Eindhoven.
        Contact him for more info about this assignment, or for opportunities to
        work with him.
      </p>
      <div class="about__buttons">
        <a class="about__a" (click)="expandText()">{{ aboutButtonText }}</a>
        <a
          class="about__a--button"
          href="../assets/files/RickvanderEijkCV2022.pdf"
          download
        >
          <app-small-button [title]="'Download CV'"></app-small-button>
        </a>
      </div>
    </div>
  </section>

  <!--Cards-->
  <app-technologies
    class="technologies"
    id="scroll__technologies"
  ></app-technologies>

  <app-referrals class="referrals" id="scroll__referrals"></app-referrals>

  <!--Cards-->
  <app-cards class="portfolio" id="scroll__portfolio"></app-cards>

  <!--Contact-->
  <section class="whitepaper" id="scroll__contact">
    <h2 class="h2">Contact Rick</h2>
    <div class="h2 h2__line"></div>
    <div class="whitepaper__left"></div>
    <div class="whitepaper__right">
      <form action="#" class="whitepaper__form">
        <input
          type="text"
          class="whitepaper__input whitepaper__input--top"
          placeholder="Name"
          id="name"
          required
        />
        <input
          type="email"
          class="whitepaper__input"
          placeholder="Email address"
          id="email"
          required
        />
        <textarea
          class="whitepaper__textarea"
          placeholder="Message"
          id="message"
          rows="4"
          required
        ></textarea>
        <app-small-button [title]="'Get in touch'"></app-small-button>
        <p class="whitepaper__p--disclaimer">
          * The contact form will become available soon
        </p>
        <div class="h2 h2__line background-white"></div>
        <div class="whitepaper__row">
          <span class="whitepaper__icon">
            <i class="fa fa-phone"></i>
          </span>
          <p class="whitepaper__p">(+31)6-28258357</p>
        </div>
        <div class="whitepaper__row">
          <span class="whitepaper__icon">
            <i class="fa fa-envelope"></i>
          </span>
          <p class="whitepaper__p">vandereijkwebdevelopment@gmail.com</p>
        </div>
      </form>
    </div>
  </section>
</div>
