<div class="container">
  <!--Header-->
  <header class="header" id="scroll__home">
    <nav class="navbar">
      <a href="#scroll__home">
        <img
          class="header__logo"
          src="../assets/images/webdevelopmentlogo3.png"
          alt="IBM Logo"
        />
      </a>
      <div class="navbar__menu">
        <a class="navbar__a" href="#scroll__about"> About </a>
        <a class="navbar__a" href="#scroll__referrals"> Referrals </a>
        <a class="navbar__a" href="#scroll__technologies"> Technologies </a>
        <a class="navbar__a" href="#scroll__portfolio"> Portfolio </a>
        <a class="navbar__a" href="#scroll__contact"> Contact </a>
      </div>
      <a
        href="https://www.linkedin.com/in/rick-van-der-eijk-9829b774/"
        target="_blank"
      >
        <div class="navbar__icon-container">
          <span class="navbar__icon">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </span>
        </div>
      </a>
    </nav>
    <div class="header__textbox">
      <h1 class="header__h1">Rick van der Eijk</h1>
      <div class="h2__line"></div>
      <h3 class="header__h3">Freelance Fullstack <br />Web Developer</h3>
    </div>
    <a href="#scroll__contact">
      <div class="header__icon-container" id="header__icon-container">
        <span class="header__mat-icon--down" id="header__mat-icon--down">
          <i class="fa fa-arrow-down" aria-hidden="true"></i>
        </span>
      </div>
    </a>
  </header>

  <!--About-->
  <section class="about" id="scroll__about">
    <h2 class="h2 color-white">About Rick</h2>
    <div class="h2 h2__line"></div>
    <div class="about__content">
      <img
        src="../assets/images/photoMe.jpg"
        alt="Rick van der Eijk"
        class="about__image"
      />
      <div class="about__text">
        <p class="about__p">
          Rick van der Eijk is a self-taught developer and designer specializing
          in React, Javascript, and (S)CSS. He is obsessed with how development
          and design intersect and wants to create the best user experience
          possible. Rick has worked on projects for clients such as Unilever,
          the Dutch government, and IBM.
        </p>
        <a
          class="about__a"
          href="../assets/files/RickvanderEijkCV2022.pdf"
          download
        >
          <app-small-button [title]="'Download CV'"></app-small-button>
        </a>
      </div>
    </div>
  </section>

  <!--Cards-->
  <app-technologies
    class="technologies"
    id="scroll__technologies"
  ></app-technologies>

  <app-referrals class="referrals" id="scroll__referrals"></app-referrals>

  <!--Cards-->
  <app-cards class="portfolio" id="scroll__portfolio"></app-cards>

  <!--Contact-->
  <section class="whitepaper" id="scroll__contact">
    <h2 class="h2">Contact Rick</h2>
    <div class="h2 h2__line"></div>
    <div class="whitepaper__left"></div>
    <div class="whitepaper__right">
      <form action="#" class="whitepaper__form">
        <input
          type="text"
          class="whitepaper__input whitepaper__input--top"
          placeholder="Name"
          id="name"
          required
        />
        <input
          type="email"
          class="whitepaper__input"
          placeholder="Email address"
          id="email"
          required
        />
        <textarea
          class="whitepaper__textarea"
          placeholder="Message"
          id="message"
          rows="4"
          required
        ></textarea>
        <app-small-button [title]="'Get in touch'"></app-small-button>
        <div class="h2 h2__line background-white"></div>
        <div class="whitepaper__row">
          <span class="whitepaper__icon">
            <i class="fa fa-phone"></i>
          </span>
          <p class="whitepaper__p">(+31)6-28258357</p>
        </div>
        <div class="whitepaper__row">
          <span class="whitepaper__icon">
            <i class="fa fa-envelope"></i>
          </span>
          <p class="whitepaper__p">vandereijkwebdevelopment@gmail.com</p>
        </div>
      </form>
    </div>
  </section>
</div>
