<div class="container">
  <!--Header-->
  <header class="header" id="scroll__home">
    <nav class="navbar">
      <img
        class="header__logo"
        src="../assets/images/webdevelopmentlogo3.png"
        alt="IBM Logo"
      />
      <div class="navbar__menu">
        <a class="navbar__a"> Home </a>
        <a class="navbar__a"> About </a>
        <a class="navbar__a"> Referrals </a>
        <a class="navbar__a"> Technologies </a>
        <a class="navbar__a"> Portfolio </a>
        <a class="navbar__a"> Whitepaper </a>
      </div>
      <mat-icon class="header__mat-icon--down"> youtube </mat-icon>
    </nav>
    <div class="header__textbox">
      <h1 class="header__h1">Rick van der Eijk</h1>
      <div class="h2__line"></div>
      <h3 class="header__h3">Freelance Fullstack <br />Web Developer</h3>
    </div>
    <div class="header__icon-container">
      <mat-icon class="header__mat-icon--down"> keyboard_arrow_down</mat-icon>
    </div>
  </header>

  <!--About-->
  <section class="about" id="scroll__about">
    <h2 class="h2 h2__skew-left color-white">About Rick</h2>
    <div class="h2 h2__line"></div>
    <div class="about__content">
      <img
        src="../assets/images/photoMe.jpg"
        alt="Rick van der Eijk"
        class="about__image"
      />
      <div class="about__text">
        <p class="about__p">
          Rick van der Eijk is a self-taught developer and designer specializing
          in React, Javascript, and (S)CSS. He is obsessed with how development
          and design intersect and wants to create the best user experience
          possible.
        </p>
        <a
          class="about__a"
          href="../assets/files/RickvanderEijkCV2022.pdf"
          download
        >
          <app-small-button [title]="'Download CV'"></app-small-button>
        </a>
      </div>
    </div>
  </section>

  <section class="referrals" id="scroll__referrals">
    <h2 class="h2 h2__skew-right">Referrals</h2>
    <div class="h2 h2__line"></div>
  </section>

  <section class="technologies" id="scroll__technologies">
    <h2 class="h2 h2__skew-right">Technologies</h2>
    <div class="h2 h2__line"></div>
    <div class="technologies__content">
      <h6>React</h6>
      <h6>Javascript</h6>
      <h6>CSS</h6>
      <h6>C#</h6>
      <h6>Angular</h6>
    </div>
  </section>

  <!--Cards-->
  <app-cards class="portfolio" id="scroll__portfolio"></app-cards>

  <!--Whitepaper-->
  <section class="whitepaper" id="scroll__whitepaper">
    <h2 class="h2 h2__skew-left">
      Secrets to <br />
      mastering Javascript
    </h2>
    <div class="h2 h2__line"></div>
    <div class="whitepaper__left">
      <h4 class="whitepaper__h4--left">Whitepaper</h4>
    </div>
    <div class="whitepaper__right">
      <form action="#" class="whitepaper__form">
        <h4 class="whitepaper__h4--right">It's almost here!</h4>
        <p class="whitepaper__p">Just enter your details below...</p>
        <input
          type="text"
          class="whitepaper__input whitepaper__input--top"
          placeholder="Full name"
          id="name"
          required
        />
        <input
          type="email"
          class="whitepaper__input whitepaper__input--bottom"
          placeholder="Email address"
          id="email"
          required
        />
        <app-small-button [title]="'Download Whitepaper'"></app-small-button>
        <p class="whitepaper__p--bottom">*Whitepaper is coming soon</p>
      </form>
    </div>
  </section>
</div>
