<div class="portfolio__heading">
  <h2 class="h2 h2__skew-left">Portfolio</h2>
  <div class="h2 h2__line"></div>
</div>
<div class="portfolio__card">
  <div class="portfolio__inner">
    <div class="portfolio__front">
      <div class="portfolio__top portfolio__top--image-1">
        <h4 class="portfolio__h4">Space <br />Wizards</h4>
      </div>
      <div class="portfolio__center">
        <h5 class="portfolio__h5">Features</h5>
        <div class="portfolio__icon-text-container">
          <mat-icon class="portfolio__icon--center"> done</mat-icon>
          <p class="portfolio__p">Angular</p>
        </div>
        <div class="portfolio__icon-text-container">
          <mat-icon class="portfolio__icon--center"> done</mat-icon>
          <p class="portfolio__p">NodeJS</p>
        </div>
        <div class="portfolio__icon-text-container">
          <mat-icon class="portfolio__icon--center"> done</mat-icon>
          <p class="portfolio__p">Mailchimp</p>
        </div>
        <div class="portfolio__icon-text-container">
          <mat-icon class="portfolio__icon--center"> done</mat-icon>
          <p class="portfolio__p">SCSS slider</p>
        </div>
      </div>
      <div class="portfolio__bottom">
        <h6 class="portfolio__h6">Flip Card</h6>
        <mat-icon class="portfolio__icon"> keyboard_arrow_right</mat-icon>
      </div>
    </div>
    <div class="portfolio__back">
      <div class="portfolio__btn-container">
        <app-small-button [title]="'View project'"></app-small-button
        ><app-small-button [title]="'Get code'"></app-small-button>
      </div>
    </div>
  </div>
</div>

<div class="portfolio__card">
  <div class="portfolio__inner">
    <div class="portfolio__front">
      <div class="portfolio__top portfolio__top--image-2">
        <h4 class="portfolio__h4">Frontend <br />Lookup</h4>
      </div>
      <div class="portfolio__center">
        <h5 class="portfolio__h5">Features</h5>
        <div class="portfolio__icon-text-container">
          <mat-icon class="portfolio__icon--center"> done</mat-icon>
          <p class="portfolio__p">React</p>
        </div>
        <div class="portfolio__icon-text-container">
          <mat-icon class="portfolio__icon--center"> done</mat-icon>
          <p class="portfolio__p">NodeJS</p>
        </div>
        <div class="portfolio__icon-text-container">
          <mat-icon class="portfolio__icon--center"> done</mat-icon>
          <p class="portfolio__p">React Hooks</p>
        </div>
        <div class="portfolio__icon-text-container">
          <mat-icon class="portfolio__icon--center"> done</mat-icon>
          <p class="portfolio__p">Styled Components</p>
        </div>
      </div>
      <div class="portfolio__bottom">
        <h6 class="portfolio__h6">Flip Card</h6>
        <mat-icon class="portfolio__icon"> keyboard_arrow_right</mat-icon>
      </div>
    </div>
    <div class="portfolio__back">
      <div class="portfolio__btn-container">
        <app-small-button [title]="'View project'"></app-small-button
        ><app-small-button [title]="'Get code'"></app-small-button>
      </div>
    </div>
  </div>
</div>

<div class="portfolio__card">
  <div class="portfolio__inner">
    <div class="portfolio__front">
      <div class="portfolio__top portfolio__top--image-3">
        <h4 class="portfolio__h4">Clear <br />It Up</h4>
      </div>
      <div class="portfolio__center">
        <h5 class="portfolio__h5">Features</h5>
        <div class="portfolio__icon-text-container">
          <mat-icon class="portfolio__icon--center"> done</mat-icon>
          <p class="portfolio__p">React</p>
        </div>
        <div class="portfolio__icon-text-container">
          <mat-icon class="portfolio__icon--center"> done</mat-icon>
          <p class="portfolio__p">React Hooks</p>
        </div>
        <div class="portfolio__icon-text-container">
          <mat-icon class="portfolio__icon--center"> done</mat-icon>
          <p class="portfolio__p">Javascript</p>
        </div>
        <div class="portfolio__icon-text-container">
          <mat-icon class="portfolio__icon--center"> done</mat-icon>
          <p class="portfolio__p">SCSS</p>
        </div>
      </div>
      <div class="portfolio__bottom">
        <h6 class="portfolio__h6">Flip Card</h6>
        <mat-icon class="portfolio__icon"> keyboard_arrow_right</mat-icon>
      </div>
    </div>
    <div class="portfolio__back">
      <div class="portfolio__btn-container">
        <app-small-button [title]="'View project'"></app-small-button
        ><app-small-button [title]="'Get code'"></app-small-button>
      </div>
    </div>
  </div>
</div>

<div class="portfolio__card">
  <div class="portfolio__inner">
    <div class="portfolio__front">
      <div class="portfolio__top portfolio__top--image-3">
        <h4 class="portfolio__h4">Clear <br />It Up</h4>
      </div>
      <div class="portfolio__center">
        <h5 class="portfolio__h5">Features</h5>
        <div class="portfolio__icon-text-container">
          <mat-icon class="portfolio__icon--center"> done</mat-icon>
          <p class="portfolio__p">React</p>
        </div>
        <div class="portfolio__icon-text-container">
          <mat-icon class="portfolio__icon--center"> done</mat-icon>
          <p class="portfolio__p">React Hooks</p>
        </div>
        <div class="portfolio__icon-text-container">
          <mat-icon class="portfolio__icon--center"> done</mat-icon>
          <p class="portfolio__p">Javascript</p>
        </div>
        <div class="portfolio__icon-text-container">
          <mat-icon class="portfolio__icon--center"> done</mat-icon>
          <p class="portfolio__p">SCSS</p>
        </div>
      </div>
      <div class="portfolio__bottom">
        <h6 class="portfolio__h6">Flip Card</h6>
        <mat-icon class="portfolio__icon"> keyboard_arrow_right</mat-icon>
      </div>
    </div>
    <div class="portfolio__back">
      <div class="portfolio__btn-container">
        <app-small-button [title]="'View project'"></app-small-button
        ><app-small-button [title]="'Get code'"></app-small-button>
      </div>
    </div>
  </div>
</div>
