.scroll-button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5rem;
  border-radius: 50%;
  background-color: var(--color-primary);
  color: var(--color-tertiary);
  height: 10rem;
  width: 10rem;
  transition: all 0.2s;
  clip-path: inset(0rem 0rem 5rem 0rem);

  &:hover {
    cursor: pointer;
    background-color: var(--color-highlight);
  }

  &__container {
    height: 50%;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: end;
  }
}
