<h2 class="h2 h2__skew-right color-white">Unity Development</h2>
<div class="h2 h2__line unity__color-mars-background"></div>
<p class="whitepaper__p color-white">
  Mars Commander is a 3D strategy game that Rick is building using C# and the
  Unity content creation engine. It is currently in development.
</p>
<div class="unity__content">
  <img class="unity__img" src="../assets/images/switch.jpg" alt="IBM Logo" />
  <img class="unity__img" src="../assets/images/explore.jpg" alt="IBM Logo" />
  <img class="unity__img" src="../assets/images/build.jpg" alt="IBM Logo" />
  <img
    class="unity__img"
    src="../assets/images/annihilate.jpg"
    alt="IBM Logo"
  />
</div>
<div>
  <app-small-button-mars [title]="'Check it out'"></app-small-button-mars>
</div>
