.technology-left {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  grid-gap: 3rem;
  justify-self: end;
  transition: all 0.2s;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  &__image {
    width: 20rem;
  }
}
