<nav class="nav">
  <div class="nav__logo-container">
    <img
      class="nav__logo"
      src="../assets/images/logo3.png"
      alt="Rick van der Eijk Logo"
    />
    <p class="nav__logo--p">@</p>
    <img
      class="nav__logo--ibm"
      src="../assets/images/ibmlogo.png"
      alt="IBM Logo"
    />
  </div>
  <ul class="nav__items">
    <li class="nav__item">
      <a href="#scroll-1" class="nav__link">About</a>
    </li>
    <li class="nav__item">
      <a href="#scroll-2" class="nav__link">Portfolio</a>
    </li>
    <li class="nav__item">
      <a href="#scroll-3" class="nav__link">Whitepaper</a>
    </li>
  </ul>
</nav>
