/* NAVIGATION */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  width: 100%;
  z-index: 100;
  background-color: var(--color-white);

  &__logo-container {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-left: 8rem;
    height: 10rem;
    margin-right: 1.5rem;
  }

  &__logo--p {
    margin-right: 2rem;
    color: var(--color-black);
    font-size: 2.8rem;
  }

  &__logo--ibm {
    height: 5rem;
  }
  &__items {
    margin-right: 8rem;
    list-style: none;
    display: flex;
    padding: 1.5rem 4rem;
  }

  & li:not(:last-child) {
    margin-right: 10rem;
  }

  & li a:link,
  & li a:visited {
    text-decoration: none;
    transition: all 0.3s ease-out;
    font-family: Monument Extended Regular;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: transparent 0.3rem var--(color-black);
    color: var(--color-black);
    cursor: pointer;

    &:hover,
    &:active {
      border-bottom: solid 2px var(--color-primary);
    }
  }
}

/*
  transform: translateY(2rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__logo-heading-primary {
    font-family: Real one specific script Regular;
    font-size: 4.2rem;
  }

  &__logo-heading-secondary {
    font-family: Real one specific Regular;
    font-size: 4.8rem;
    color: var(--color-tertiary);
    transform: translateY(-3.4rem);
    */
