.referral {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-gap: 1rem;
  align-items: start;
  text-align: left;

  &__text-italic {
    font-size: 2rem;
    font-style: italic;
  }

  &__extra-margin {
    margin-top: 2rem;
  }
}
