.referrals {
  width: 66rem;
  justify-self: center;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  grid-gap: 3rem;
  transform: translate(-10rem, 0);

  &__heading {
    text-align: center;
    color: var(--color-white);
  }

  &__content {
    width: 66rem;
    background-color: var(--color-black);
    padding: 3rem;
    border-radius: 1rem;
    overflow: hidden;
  }

  &__container {
    position: relative;
    height: 42rem;
  }

  app-referral {
    width: 100%;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    &.active {
      opacity: 1;
    }
    &.inactive {
      opacity: 0;
    }
  }
}
