<section class="whitepaper" id="whitepaper">
    <div class="whitepaper__heading">
        <h2 class="h2"> Framework Agnostic Web Development </h2>
        <app-header-line></app-header-line>
    </div>
    <div class="whitepaper__left">
        <h4 class="whitepaper__h4">Whitepaper</h4>
    </div>
    <div class="whitepaper__right">
        <form class="whitepaper__form">
            <h4 class="whitepaper__h4">It's almost here!</h4>
            <p class="whitepaper__text">Just enter your details below...</p>
            <app-text-input [abstractControl]="form.get('fullName')!" placeholder="Full name"></app-text-input>
            <app-text-input [abstractControl]="form.get('email')!" placeholder="Email address"></app-text-input>
            <app-small-button title="Download" [extraMarginTop]="extraButtonMargin"
                (buttonClick)="onSubmit()"></app-small-button>
        </form>
    </div>
</section>