<h2 class="h2">Technologies</h2>
<div class="h2 h2__line"></div>
<div class="technologies__content">
  <img
    class="technologies__img technologies__React"
    id="technologies__React"
    src="../assets/images/react-1.png"
    alt="React"
  />
  <h6 class="technologies__React-text" id="text">React</h6>
  <img
    class="technologies__img technologies__JS"
    id="technologies__JS"
    src="../assets/images/javascript.png"
    alt="Javascript"
  />
  <h6 class="technologies__JS-text" id="technologies__JS-text">Javascript</h6>
  <img
    class="technologies__img technologies__CSS"
    id="technologies__CSS"
    src="../assets/images/css2.png"
    alt="CSS"
  />
  <h6 class="technologies__CSS-text" id="technologies__CSS-text">CSS</h6>
  <img
    class="technologies__img technologies__cSharp"
    id="technologies__cSharp"
    src="../assets/images/csharp.png"
    alt="Angular"
  />
  <h6 class="technologies__cSharp-text" id="technologies__cSharp-text">C#</h6>
  <img
    class="technologies__img technologies__Angular"
    id="technologies__Angular"
    src="../assets/images/angular.svg"
    alt="Angular"
  />
  <h6 class="technologies__Angular-text" id="technologies__Angular-text">
    Angular
  </h6>
  <p class="technologies__p">
    * Van der Eijk Web Development is not officially endorsed by any of the
    organizations that created the above logos
  </p>
</div>
