.about {
  padding-top: 3rem;
  background: var(--color-black);
  width: 66rem;
  position: relative;
  align-items: center;
  justify-self: center;
  border-radius: 1rem;
  display: grid;
  padding: 3rem;

  &__link {
    text-decoration: none;
  }

  &__content {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 3rem;
    margin-bottom: 3rem;
  }

  &__h2 {
    justify-self: center;
    color: var(--color-white);
  }

  &__p {
    color: var(--color-white);
  }

  &__image {
    width: 16rem;
    border-radius: 50%;
    justify-self: center;
  }
}
