<section class="about" id="about">
  <h2 class="about__h2">About Rick</h2>
  <app-header-line></app-header-line>
  <div class="about__content">
    <img src="/assets/images/photoMe.jpg" alt="Rick van der Eijk" class="about__image" />
    <p class="about__p">Autodidactic, multidisciplinary software engineer specializing in frontend development, user interface design, and highly practical business solutions. With over 5 years of experience across industries—from enterprises to SMEs—I bridge the gap between technical and business needs, leveraging React, Angular, C#, and excellent communication skills.
      <br><br>
      Fluent in English (C2-level) and Dutch, I thrive in client-facing roles where I align technical objectives with business goals.
    </p>
  </div>
  <a class="about__link" href="./assets/files/RickvanderEijkCV2025.pdf" target="_blank">
    <app-small-button [title]="'Download CV'"></app-small-button>
  </a>
</section>