<div class="referrals__icon-left" (click)="moveSliderLeft()">
  <span class="referrals__icon">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
  </span>
</div>
<h2 class="h2 color-white">Referrals</h2>
<div class="h2 h2__line"></div>
<div class="slider">
  <div [ngClass]="slideClass0">
    <div>
      <h6 class="color-white">Thankful!</h6>
      <blockquote class="referrals__p">
        Rick helped me with the website http://harmonieadvies.nl. I'm quite
        pleased with the result as it fits the person that I currently am well.
        The site was built with a lot of aesthetic sensibility. Additionally,
        Rick helped me during the process of building with adding structure as
        well as advice on what works both well and less well for marketing and
        sales. I feel that I developed myself in this area thanks to Rick.
      </blockquote>
      <address class="testimonial__author">
        <h6 class="color-white">Roland van Olst</h6>
        <p class="color-white">Owner Harmonie Advies</p>
      </address>
    </div>
  </div>
  <div [ngClass]="slideClass1">
    <div>
      <h6 class="color-white">Got a job thanks to Rick!</h6>
      <blockquote class="referrals__p">
        Rick has been an excellent mentor for the last three months since we met
        through a program called codebuddies. I say this because I managed to
        secure a couple offers from software companies despite the fact I am
        still a student. This happened after several online sessions with Rick
        where he guided me on how to sell my skills and offered me tips on
        taking interviews. In conclusion, I think an undergraduate, especially
        in Kenya where I am from, would benefit a lot from what a mentor like
        Rick has to offer to secure employment here where opportunities are much
        less and very competitive.
      </blockquote>
      <address class="testimonial__author">
        <h6 class="color-white">Charles Kagwi</h6>
        <p class="color-white">Mobile & Web developer</p>
      </address>
    </div>
  </div>
  <!--<div [ngClass]="slideClass2">
    <div>
      <h6 class="color-white">Got a job thanks to Rick!</h6>
      <blockquote class="referrals__p">Blaat</blockquote>
      <address class="testimonial__author">
        <h6 class="color-white">bla bla</h6>
        <p class="color-white">CEO</p>
      </address>
    </div>
  </div>-->
</div>
<div class="referrals__icon-right" (click)="moveSliderRight()">
  <span class="referrals__icon">
    <i class="fa fa-arrow-right" aria-hidden="true"></i>
  </span>
</div>
