<div class="referrals__icon-left">
  <span class="referrals__icon">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
  </span>
</div>
<h2 class="h2 color-white">Referrals</h2>
<div class="h2 h2__line"></div>
<div class="slider">
  <div class="slide">
    <div>
      <h6 class="color-white">Thankful!</h6>
      <blockquote class="referrals__p">
        Rick helped me with the website http://harmonieadvies.nl. I'm quite
        pleased with the result as it fits the person that I currently am well.
        The site was built with a lot of aesthetic sensibility. Additionally,
        Rick helped me during the process of building with adding structure as
        well as advice on what works both well and less well for marketing and
        sales. I feel that I developed myself in this area thanks to Rick.
      </blockquote>
      <address class="testimonial__author">
        <h6 class="color-white">Roland van Olst</h6>
        <p class="color-white">Owner Harmonie Advies</p>
      </address>
    </div>
  </div>
</div>
<div class="referrals__icon-right">
  <span class="referrals__icon">
    <i class="fa fa-arrow-right" aria-hidden="true"></i>
  </span>
</div>
